<ul class="list-group list-group-flush yelp-list">
  <li class="list-group-item yelp-item">Name: <%- name %></li>
  <li class="list-group-item yelp-item"">Location: <%- location %></li>
  <li class="list-group-item yelp-item"">Price: <%- price%></li>
  <li class="list-group-item yelp-item"">Rating: <%- rating %></li>
  <li class="list-group-item yelp-item"">Number of Reviews: <%- review_count %></li>
  <li class="list-group-item yelp-item"">Phone: <%- phone %></li>
  <li class="list-group-item yelp-item""><a href="<%- url %>">Visit on Yelp!</a></li>
  
</ul>
